@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 229, 17;
  --background-end-rgb: 243, 229, 17;
}

body {
  margin: 0;
  color: black;
  background-color: white;
}

.navbar {
  background-color: #B6D9F4;
}

.menu:hover {
  color: rgb(57, 57, 57);
}

.sign-in:hover {
  background-color: rgb(233, 233, 233);
}
.main {
  display: flex;
  margin: auto;
  height: 44em;
}

.transcribe-page {
  margin: auto;
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  background-color:skyblue;
}

.trans-note {
  margin: auto;
  background-color: whitesmoke;
  width: 90%;
  height: 75%;
  align-items: center;
  padding: 20px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 5%;
}

