@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 229, 17;
  --background-end-rgb: 243, 229, 17;
}

body {
  margin: 0;
  color: black;
  background-color: white;
}

.navbar {
  background-color: #B6D9F4;
}